body {
  font-family: Euphemia;
}
#root {
  width: 100%;
}

@font-face {
  font-family: "Euphemia";
  src: url("./assets/fonts/Euphemia.ttf") format("truetype");
}

@font-face {
  font-family: "EuphemiaBold";
  src: url("./assets/fonts/Euphemia_bold.ttf") format("truetype");
}

.App {
  margin: 5%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
  box-sizing: border-box;
}